img{
    max-width: 90%;
    max-height: 90%;
}
.btn{
    background:#fff;
    padding:10px 0px;
    box-sizing:border-box;
    display:flex;
    border-radius:20px;
    margin-left: 45px;
    width:300px;

}
.dp{
    display: none;
}
  
@media (max-width: 690px) {
    .img{
        display:none;

    }
    .btn{
        display: none;
    }
    .dp{
        display: block;
        max-width: 20%;
        max-height: 20%;
        display: flex;
        margin: 0 auto;
    }
    
}