.meRightImgContainer{
    width: 376px;
    height: 545px;
    overflow: hidden;
    margin-top: -50px;
}
.meRightImgContainer .img1{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    margin-right: 50px;
}
.meRightImgContainer .img2{
    
    display:none;
}
@media (max-width: 690px) {
    .meRightImgContainer .img1{
        display: none;
    }
    .meRightImgContainer .img2{
        display: block;
        margin-top: 30px;
        max-width: 70%;
        max-height: 70%;
        margin-left: 15%;
    }
}